@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
}

body,
html {
	margin: 0;
}

main {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(270deg, #e4c1c1, #2a1198);
	background-size: 400% 400%;

	-webkit-animation: gradientChange 45s ease infinite;
	-moz-animation: gradientChange 45s ease infinite;
	animation: gradientChange 45s ease infinite;

	img {
		width: 500px;
		cursor: pointer;
		transform: scale(1);
		transition: 0.5s;
	}

	img:hover {
		transition: 0.5s;
		transform: scale(1.1);
	}
	@media (max-width: 750px) {
		img {
			width: 200px;
		}
	}

	h1 {
		text-align: center;
		font-size: 72px;
		color: whitesmoke;
	}
}

@-webkit-keyframes gradientChange {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@-moz-keyframes gradientChange {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes gradientChange {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
