@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
/* Extendable classes */
.flex-column-center, .overlay .overlay-content, .main-section, aside, #login-screen, #login-screen .modal-wrapper .left-screen-gradient, #login-screen .modal-wrapper .right-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Extendable classes end */
* {
  font-family: 'Montserrat', sans-serif;
}

body,
html {
  margin: 0;
}

header {
  background: -webkit-gradient(linear, left bottom, left top, from(#efd6ac), to(#432534));
  background: linear-gradient(0deg, #efd6ac 0%, #432534 100%);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

header .img-logo {
  width: 75px;
}

header .navbar-brand {
  position: relative;
  height: 50px;
  z-index: 10;
  width: 75px;
  cursor: pointer;
}

header .navbar-brand .hamburger-line {
  width: 75px;
  height: 2px;
  border-radius: 10px;
  background-color: whitesmoke;
  display: block;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
  position: absolute;
}

header .navbar-brand .hamburger-line.top {
  top: 18%;
}

header .navbar-brand .hamburger-line.bottom {
  width: 40px;
  top: 48%;
}

header .navbar-brand .hamburger-line.top.open,
header .navbar-brand .hamburger-line.bottom.open {
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 50px;
  top: 48%;
}

header .navbar-brand .hamburger-line.bottom.open {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .brand-fixed {
  position: fixed;
  top: 0;
  margin-top: 1rem;
}

header .navbar-nav {
  max-width: 50%;
}

header #sub-to-home {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header #sub-to-home:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: black;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay .overlay-content {
  position: relative;
  top: 25%;
  width: 300px;
  margin: 30px auto 0 auto;
}

.overlay .overlay-link {
  padding: 8px;
  position: relative;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  -webkit-transition: 0.45s;
  transition: 0.45s;
}

.overlay .overlay-link::before {
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: whitesmoke;
}

.overlay .overlay-link:hover::before {
  content: '';
  width: 100%;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.overlay .overlay-link:hover,
.overlay .overlay-link:focus {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .overlay .overlay-link {
    font-size: 20px;
  }
}

.v-none {
  visibility: hidden;
}

.filter-options {
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.filter-options .form-control {
  width: 200px;
  margin-right: 10px;
}

.filter-options .btn {
  width: 150px;
}

.main-section {
  overflow: hidden;
}

.main-section #animated-submarine {
  width: 500px;
  cursor: pointer;
  -webkit-animation-name: makeMeDizzy;
          animation-name: makeMeDizzy;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@media (max-width: 750px) {
  .main-section #animated-submarine {
    width: 250px;
  }
}

.main-section h1 {
  text-align: center;
  font-size: 72px;
  color: black;
}

aside {
  margin: 3rem 3rem 0 0;
  padding: 3rem;
  padding-top: 0;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  width: 25%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

aside .img-fluid {
  width: 150px;
  display: block;
  margin: auto;
}

aside .btn-group .btn {
  margin: 10px;
}

aside h4.text-center {
  font-size: 18px;
}

footer {
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  margin-top: 2rem;
}

footer p {
  text-align: center;
  padding: 1rem;
  margin-bottom: 0;
  background-color: #e0e0e0;
  color: black;
}

#login-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#login-screen .modal-wrapper {
  height: 75%;
  width: 65%;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

#login-screen .modal-wrapper .left-screen-gradient {
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, left bottom, left top, from(#ffb997), to(#d47171));
  background: linear-gradient(0deg, #ffb997 0%, #d47171 100%);
}

#login-screen .modal-wrapper .left-screen-gradient .btn {
  color: #d47171;
  font-size: 24px;
}

#login-screen .modal-wrapper .right-screen {
  background-color: white;
}

#login-screen .modal-wrapper .right-screen form {
  padding: 2rem;
}

#login-screen .modal-wrapper .right-screen form .label,
#login-screen .modal-wrapper .right-screen form input {
  display: block;
}

#login-screen .modal-wrapper .right-screen form .label {
  text-align: center;
}

#login-screen .modal-wrapper .right-screen form input {
  padding: 10px;
  border: 0;
  border-bottom: 1px solid rgba(212, 113, 113, 0.7);
}

#login-screen .modal-wrapper .right-screen form input:focus {
  outline: none;
  outline: 1px solid #d47171;
  outline-offset: 2px;
}

#login-screen .modal-wrapper .right-screen form .btn {
  margin: auto;
  display: block;
  background-color: #d47171;
  color: white;
  font-size: 24px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#login-screen .modal-wrapper .right-screen form .btn:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background-color: white;
  border: 1px solid #d47171;
  color: #d47171;
}

#login-screen .modal-wrapper .right-screen a {
  color: #d47171;
}

#login-screen::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 2px;
  background-color: #d47171;
  -webkit-animation-name: oscilate;
          animation-name: oscilate;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
          animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes oscilate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  25% {
    -webkit-transform: translate(-200px) rotate(255deg);
            transform: translate(-200px) rotate(255deg);
  }
  50% {
    -webkit-transform: translate(-700px) rotate(255deg);
            transform: translate(-700px) rotate(255deg);
  }
  75% {
    -webkit-transform: translate(-200px) rotate(255deg);
            transform: translate(-200px) rotate(255deg);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes oscilate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  25% {
    -webkit-transform: translate(-200px) rotate(255deg);
            transform: translate(-200px) rotate(255deg);
  }
  50% {
    -webkit-transform: translate(-700px) rotate(255deg);
            transform: translate(-700px) rotate(255deg);
  }
  75% {
    -webkit-transform: translate(-200px) rotate(255deg);
            transform: translate(-200px) rotate(255deg);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes makeMeDizzy {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes makeMeDizzy {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=styles.css.map */