@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$colors: (
  'box-shadow-color': rgba(0, 0, 0, 0.3),
  'lightYellowGradient': rgba(239, 214, 172, 1),
  'darkMaroonGradient': rgba(67, 37, 52, 1),
  'peachColor': rgba(212, 113, 113, 1)
);

$fontSizes: (
  'h1': 72px,
  'h2': 36px,
  'h3': 24px
);

@function getColor($colorName) {
  @return map-get($colors, $colorName);
}

@function getFontSize($font) {
  @return map-get($fontSizes, $font);
}

/* Extendable classes */
.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Extendable classes end */

* {
  font-family: 'Montserrat', sans-serif;
}

body,
html {
  margin: 0;
}

header {
  background: linear-gradient(
    0deg,
    getColor(lightYellowGradient) 0%,
    getColor(darkMaroonGradient) 100%
  );
  box-shadow: 0 0 5px 0 getColor(box-shadow-color);
  .img-logo {
    width: 75px;
  }

  .navbar-brand {
    position: relative;
    height: 50px;
    z-index: 10;
    width: 75px;
    cursor: pointer;
    .hamburger-line {
      width: 75px;
      height: 2px;
      border-radius: 10px;
      background-color: whitesmoke;
      display: block;
      transition: all ease 0.4s;
      position: absolute;
    }
    .hamburger-line.top {
      top: 18%;
    }
    .hamburger-line.bottom {
      width: 40px;
      top: 48%;
    }

    .hamburger-line.top.open,
    .hamburger-line.bottom.open {
      transition: all ease 0.4s;
      transform: rotate(45deg);
      width: 50px;
      top: 48%;
    }
    .hamburger-line.bottom.open {
      transform: rotate(-45deg);
    }
  }

  .brand-fixed {
    position: fixed;
    top: 0;
    margin-top: 1rem;
  }
  .navbar-nav {
    max-width: 50%;
  }
  #sub-to-home {
    transform: scale(1);
    transition: 0.4s;
  }
  #sub-to-home:hover {
    transform: scale(1.1);
    transition: 0.4s;
  }
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  transition: 0.5s;

  .overlay-content {
    position: relative;
    top: 25%;
    width: 300px;
    margin: 30px auto 0 auto;
    @extend .flex-column-center;
  }

  .overlay-link {
    padding: 8px;
    position: relative;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.45s;
  }
  .overlay-link::before {
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: whitesmoke;
  }
  .overlay-link:hover::before {
    content: '';
    width: 100%;
    transition: ease 0.5s;
  }
  .overlay-link:hover,
  .overlay-link:focus {
    color: #f1f1f1;
  }

  @media screen and (max-height: 450px) {
    .overlay-link {
      font-size: 20px;
    }
  }
}

.v-none {
  visibility: hidden;
}
.filter-options {
  box-shadow: 0 0 5px 0 getColor(box-shadow-color);
  .form-control {
    width: 200px;
    margin-right: 10px;
  }
  .btn {
    width: 150px;
  }
}

.main-section {
  overflow: hidden;
  @extend .flex-column-center;

  #animated-submarine {
    width: 500px;
    cursor: pointer;
    animation-name: makeMeDizzy;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  @media (max-width: 750px) {
    #animated-submarine {
      width: 250px;
    }
  }

  h1 {
    text-align: center;
    font-size: getFontSize(h1);
    color: black;
  }
}

aside {
  margin: 3rem 3rem 0 0;
  padding: 3rem;
  padding-top: 0;
  box-shadow: 0 0 5px 0 getColor(box-shadow-color);
  width: 25%;
  height: fit-content;
  @extend .flex-column-center;
  .img-fluid {
    width: 150px;
    display: block;
    margin: auto;
  }
  .btn-group {
    .btn {
      margin: 10px;
    }
  }
  h4.text-center {
    font-size: 18px;
  }
}

footer {
  box-shadow: 0 0 3px 0 getColor(box-shadow-color);
  margin-top: 2rem;
  p {
    text-align: center;
    padding: 1rem;
    margin-bottom: 0;
    background-color: darken(white, 12%);
    color: black;
  }
}

#login-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @extend .flex-column-center;
  .modal-wrapper {
    height: 75%;
    width: 65%;
    box-shadow: 0 0 5px 0 getColor(box-shadow-color);
    .left-screen-gradient {
      box-shadow: 0 0 3px 0 getColor(box-shadow-color);
      @extend .flex-column-center;
      background: linear-gradient(
        0deg,
        rgba(255, 185, 151, 1) 0%,
        rgba(212, 113, 113, 1) 100%
      );

      .btn {
        color: getColor(peachColor);
        font-size: 24px;
      }
    }
    .right-screen {
      background-color: white;
      @extend .flex-column-center;
      form {
        padding: 2rem;
        .label,
        input {
          display: block;
        }
        .label {
          text-align: center;
        }
        input {
          padding: 10px;
          border: 0;
          border-bottom: 1px solid rgba(getColor(peachColor), 0.7);
        }
        input:focus {
          outline: none;
          outline: 1px solid getColor(peachColor);
          outline-offset: 2px;
        }
        .btn {
          margin: auto;
          display: block;
          background-color: getColor(peachColor);
          color: white;
          font-size: 24px;
          transition: 0.4s;
        }
        .btn:hover {
          transition: 0.4s;
          box-shadow: 0 0 3px 0 getColor(box-shadow-color);
          background-color: white;
          border: 1px solid getColor(peachColor);
          color: getColor(peachColor);
        }
      }
      a {
        color: getColor(peachColor);
      }
    }
  }
}

#login-screen::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 2px;
  background-color: getColor(peachColor);
  animation-name: oscilate;
  animation-duration: 10s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes oscilate {
  0% {
    transform: translate(0);
  }

  25% {
    transform: translate(-200px) rotate(255deg);
  }

  50% {
    transform: translate(-700px) rotate(255deg);
  }

  75% {
    transform: translate(-200px) rotate(255deg);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes makeMeDizzy {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
