$colors: (
  'box-shadow-color': rgba(0, 0, 0, 0.4),
  'peachColor': rgba(212, 113, 113, 1),
  'greyDark': rgba(0, 0, 0, 0.7),
  'blueHeader': #2c3e50,
  'whiteGrey': whitesmoke
);

$fontSizes: (
  'h1': 72px,
  'h2': 36px,
  'h3': 24px
);

@function getColor($colorName) {
  @return map-get($colors, $colorName);
}

@function getFontSize($font) {
  @return map-get($fontSizes, $font);
}

/* Extendable classes */
.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animatedBefore {
  position: relative;
  color: var(--font-color);
  padding: 5px;
}

.animatedBefore::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--font-color);
  transition: 0.4s;
}

.animatedBefore:hover::before {
  content: '';
  width: 100%;
  transition: 0.4s;
}

.mt-6 {
  margin-top: 6rem;
}

.mt-75 {
  padding-top: 75px;
}

.underlineBefore {
  position: relative;
}

.underlineBefore::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--font-color);
}
.fixed-full-height {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}

.td-none {
  text-decoration: none;
}

.gradient-background {
  background: linear-gradient(180deg, var(--secondary), var(--primary));
}

/* Extendable classes end */

/* Responsive Mixins */

@mixin smallPhoneMixin {
  @media only screen and (max-width: 600px) {
    @content;
  }
}
@mixin mediumPhoneMixin {
  @media only screen and (min-width: 325px) and (max-width: 992px) {
    @content;
  }
}
@mixin largePhoneMixin {
  @media only screen and (min-width: 600px) and (max-width: 768px) {
    @content;
  }
}
@mixin tabletMixin {
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    @content;
  }
}
@mixin smallDesktopMixin {
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    @content;
  }
}
@mixin largeDesktopMixin {
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    @content;
  }
}
@mixin ExtraLargeDesktopMixin {
  @media only screen and (min-width: 1440px) {
    @content;
  }
}
/*Responsive Mixins END */
