@import '../../../assets/scss_extendables/index';
.loader-wrapper {
  background-color: var(--shadowsOpacified);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1001;
  @extend .flex-column-center;
}

.lds-dual-ring {
  display: inline-block;
  width: 150px;
  height: 150px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 150px;
  height: 150px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--font-color);
  border-color: var(--font-color) transparent var(--font-color) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
