@import '../../../../assets/scss_extendables/index';

.img-logo {
  width: 75px;
}
// mat-toolbar {
//   box-shadow: outline 0px 0px 50px 0px rgba(0, 0, 0, 0.75);
// }
mat-toolbar {
  height: fit-content;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}
.navbar-brand {
  position: relative;
  height: 50px;
  z-index: 10;
  width: 75px;
  cursor: pointer;
  .hamburger-line {
    width: 75px;
    height: 2px;
    border-radius: 10px;
    background-color: #ffffff;
    display: block;
    transition: all ease 0.4s;
    position: absolute;
  }
  .hamburger-line.top {
    top: 18%;
  }
  .hamburger-line.bottom {
    width: 40px;
    top: 48%;
  }

  .hamburger-line.top.open,
  .hamburger-line.bottom.open {
    transition: all ease 0.4s;
    transform: rotate(45deg);
    width: 50px;
    top: 48%;
  }
  .hamburger-line.bottom.open {
    transform: rotate(-45deg);
  }
}

#selectLang {
  background-color: transparent;
}

.brand-fixed {
  position: fixed;
  top: 0;
  margin-top: 1rem;
}
.navbar-nav {
  max-width: 50%;
}
#sub-to-home {
  transform: scale(1);
  transition: 0.4s;
}
#sub-to-home:hover {
  transform: scale(1.1);
  transition: 0.4s;
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  transition: 0.5s;

  .overlay-content {
    position: relative;
    top: 25%;
    width: 300px;
    margin: 30px auto 0 auto;
    @extend .flex-column-center;
  }

  .overlay-link {
    width: 100%;
    padding: 8px;
    position: relative;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.45s;
  }
  .overlay-link::before {
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: whitesmoke;
  }
  .overlay-link:hover::before {
    content: '';
    width: 100%;
    transition: ease 0.5s;
  }
  .overlay-link:hover,
  .overlay-link:focus {
    color: #f1f1f1;
  }

  @media screen and (max-height: 450px) {
    .overlay-link {
      font-size: 20px;
    }
  }
}

#fa-fa-user {
  font-size: 36px;
  color: white;
  cursor: pointer;
}

.v-none {
  margin-left: calc(950%);
  @include smallPhoneMixin {
    margin-left: 10.3rem;
  }
}

#email-login-input,
#email-login-input {
  margin-right: 8px;
}
