<mat-toolbar class="navbar d-flex" color="warn">
  <div #navBrand class="navbar-brand" (click)="toggleOverlay()">
    <span #hamTop class="hamburger-line top"></span>
    <span #hamBot class="hamburger-line bottom"></span>
  </div>
  <div class="img-logo d-none d-lg-block">
    <a [routerLink]="['/']" id="img-logo-container" #subLogo>
      <img
        src="/assets/submarine.png"
        alt="submarine-logo"
        class="img-fluid"
        id="sub-to-home"
      />
    </a>
  </div>
  <i class="fa fa-user" id="fa-fa-user" (click)="triggerModal()"></i>
</mat-toolbar>
<div class="overlay" #overlay>
  <div class="overlay-content">
    <a [routerLink]="['/']" class="overlay-link" (click)="toggleOverlay()"
      ><i class="fa fa-home mr-2"></i>Home</a
    >
    <a
      [routerLink]="['/my-account']"
      class="overlay-link"
      (click)="checkMyAccount()"
      ><i class="fa fa-user mr-2"></i>My Account</a
    >
    <a
      [routerLink]="['/companies']"
      class="overlay-link"
      (click)="toggleOverlay()"
      ><i class="fa fa-building-o mr-2"></i>Companies</a
    >
    <a [routerLink]="['/about']" class="overlay-link" (click)="toggleOverlay()"
      ><i class="fa fa-question mr-2"></i>About</a
    >
    <a
      [routerLink]="['/contact']"
      class="overlay-link"
      (click)="toggleOverlay()"
      ><i class="fa fa-phone mr-2"></i>Contact</a
    >
  </div>
</div>
