<mat-toolbar class="navbar d-flex">
  <div #navBrand class="navbar-brand mt-2" (click)="toggleOverlay()">
    <span #hamTop class="hamburger-line top"></span>
    <span #hamBot class="hamburger-line bottom"></span>
  </div>
  <div class="img-logo">
    <a
      routerLinkActive="active"
      [routerLink]="['/']"
      id="img-logo-container"
      #subLogo
    >
      <img
        src="/assets/submarine.png"
        alt="submarine-logo"
        class="img-fluid"
        id="sub-to-home"
      />
    </a>
  </div>
  <div class="d-flex">
    <div class="mr-4">
      <select
        #langSelectEl
        [value]="val"
        name="languages"
        id="langSelect"
        class="custom-select"
        style="cursor: pointer;"
        (change)="changeLanguage($event.target.value)"
      >
        <option value="English" style="cursor: pointer;">EN</option>
        <option value="Macedonian" style="cursor: pointer;">МКД</option>
      </select>
    </div>
    <i class="fa fa-user" id="fa-fa-user" (click)="triggerModal()"></i>
  </div>
</mat-toolbar>
<div
  class="overlay"
  #overlay
  (clickOutside)="closeOverlay()"
  [exclude]="'.navbar-brand'"
  [clickOutsideEvents]="'click, touchstart, scroll'"
>
  <div class="overlay-content">
    <a
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="['/']"
      class="overlay-link"
      (click)="toggleOverlay()"
      ><i class="fa fa-home mr-4"></i>{{ 'HEADER.HOME' | translate }}</a
    >
    <a
      [routerLink]="['/my-account']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="overlay-link"
      *ngIf="activeUser"
      (click)="checkMyAccount()"
      ><i class="fa fa-user mr-4"></i>{{ 'HEADER.MY_ACCOUNT' | translate }}</a
    >
    <a
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="['/companies']"
      class="overlay-link"
      (click)="toggleOverlay()"
      ><i class="fa fa-th-large mr-4"></i
      >{{ 'HEADER.COMPANIES' | translate }}</a
    >
    <a
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="['/about']"
      class="overlay-link"
      (click)="toggleOverlay()"
      ><i class="fa fa-info-circle mr-4"></i>{{ 'HEADER.ABOUT' | translate }}</a
    >
    <a
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="['/contact']"
      class="overlay-link"
      (click)="toggleOverlay()"
      ><i class="fa fa-envelope mr-4"></i>{{ 'HEADER.CONTACT' | translate }}</a
    >
    <mat-slide-toggle
      class="mb-4"
      [(ngModel)]="activeTheme"
      (change)="toggleTheme()"
    ></mat-slide-toggle>
  </div>
</div>
