<section class="about-page">
  <section class="intro-section">
    <h1 class="title page-title">The Submarine Team</h1>
    <p>
      We are a group of students at the SEDC academy. This project is our effort
      to dive into the secrets companies may keep.
    </p>
    <p>
      There are very few ways of finding out how it's like to actually work at a
      company. We aim to rectify that problem by providing a platform where
      users can share their stories, anonymously.
    </p>
    <h2 class="title">The Submarine Project Team Members:</h2>
  </section>

  <section class="team-section pt-0">
    <section class="row upper">
      <div class="member-img-container col-6 col-lg-3">
        <img
          src="/assets/submarine.png"
          (click)="toggleInfo()"
          alt="Djajko"
          class="img-fluid"
        />
      </div>
      <div class="member-img-container col-6 col-lg-3">
        <img
          src="/assets/submarine.png"
          (click)="toggleInfo()"
          alt="Vane"
          class="img-fluid"
        />
      </div>
      <div class="member-img-container col-6 col-lg-3">
        <img
          src="/assets/submarine.png"
          (click)="toggleInfo()"
          alt="Babu6o"
          class="img-fluid"
        />
      </div>
      <div class="member-img-container col-6 col-lg-3">
        <img
          src="/assets/submarine.png"
          (click)="toggleInfo()"
          alt="Ivana"
          class="img-fluid"
        />
      </div>
    </section>
    <section class="row lower">
      <div class="member-img-container col-6 col-lg-3">
        <img
          src="/assets/submarine.png"
          (click)="toggleInfo()"
          alt="Blagio"
          class="img-fluid"
        />
      </div>
      <div class="member-img-container col-6 col-lg-3">
        <img
          src="/assets/submarine.png"
          (click)="toggleInfo()"
          alt="Jovica"
          class="img-fluid"
        />
      </div>
      <div class="member-img-container col-6 col-lg-3">
        <img
          src="/assets/submarine.png"
          (click)="toggleInfo()"
          alt="Matej"
          class="img-fluid"
        />
      </div>
      <div class="member-img-container col-6 col-lg-3">
        <img
          src="/assets/submarine.png"
          (click)="toggleInfo()"
          alt="Damjan"
          class="img-fluid"
        />
      </div>
    </section>
  </section>

  <section class="rendered-bio" *ngIf="showInfo">
    <h1>{{ teamMemberTitle }}</h1>
    <p>{{ teamMemberText }}</p>
  </section>
</section>
