@import "../../../../assets/scss_extendables/index";

.about-page {
  background: rgb(250, 250, 250);
  background: linear-gradient(180deg, #2d3436, #2c3e50);
  color: whitesmoke;
  .intro-section {
    padding: 3rem;
    p {
      text-align: center;
    }
    .title {
      text-align: center;
      margin: 2rem;
      margin-bottom: 0;
    }
    .title.page-title {
      margin-bottom: 2rem;
    }
  }
}
section.team-section {
  padding: 2rem 5rem;

  section.row {
    margin: 2rem;
    padding: 2rem;
    position: relative;
    .member-img-container {
      margin: auto;
      display: flex;
      .img-fluid {
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 0 3px 0 getColor(boxShadowColor);
        margin: auto;
        width: 150px;
        transition: 0.4s;
        transform: scale(1);
      }

      .img-fluid:hover {
        transition: 0.4s;
        transform: scale(1.1);
      }
    }
  }

  .upper::before {
    content: "";
    position: absolute;
    max-width: 750px;
    width: 100%;
    height: 1px;
    top: -10%;
    left: 21%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .lower::before {
    content: "";
    position: absolute;
    max-width: 750px;
    width: 100%;
    height: 1px;
    bottom: -20%;
    left: 21%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
