<section class="about-page mt-75">
  <section class="intro-section">
    <h1 class="title page-title" data-aos="fade-right" (click)="triggerToast()">
      {{ 'The Submarine Team' | translate }}
    </h1>
    <p class="mt-10" data-aos="fade-up">
      {{ 'ABOUTPAGE.INTRO_TEAM' | translate }}
    </p>
    <p data-aos="fade-up">
      {{ 'ABOUTPAGE.INTRO_ABOUT' | translate }}
    </p>

    <div class="img-container mt-10" data-aos="fade-up">
      <img
        src="/assets/submarine_text.png"
        alt="The Submarine Project Logo"
        class="img-fluid"
      />
    </div>
  </section>
</section>
