@import '../../../../assets/scss_extendables/index';

.about-page {
  min-height: 100vh;
  background: rgb(250, 250, 250);
  background: linear-gradient(180deg, #2d3436, #2c3e50);
  @include mediumPhoneMixin {
    padding-top: 25px;
  }
  color: whitesmoke;
  .intro-section {
    padding: 3rem;
    p {
      text-align: center;
    }
    .title {
      text-align: center;
      margin: 0 2rem;
    }
    .title.page-title {
      margin-bottom: 2rem;
      position: relative;
      padding: 1rem;
      @extend .underlineBefore;
      @include mediumPhoneMixin {
        font-size: 32px;
      }
      @include smallPhoneMixin {
        font-size: 26px;
      }
      @include ExtraLargeDesktopMixin {
        font-size: 72px;
      }
    }
    .img-container {
      @extend .flex-column-center;
      .img-fluid {
        width: 300px;
      }
    }
  }
}
