@import '../../../../assets/scss_extendables/index';

.team-section {
  overflow: hidden;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  padding: 60px;
  @extend .flex-column-center;
}
.team-section h1 {
  text-transform: uppercase;
  margin-bottom: 60px;
  color: white;
  font-size: 40px;
  @extend .flex-column-center;
}
.border {
  display: block;
  margin: auto;
  width: 160px;
  height: 3px;
  background: rgba(67, 37, 52, 1);
  margin-bottom: 40px;
  @extend .flex-column-center;
}

.ps {
  margin-bottom: 40px;
  // @extend .flex-column-center;

  button {
    background-image: url('../../../../assets/submarine.png');
    display: inline-block;
    outline: none;
    margin: 0 30px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
    @extend .flex-column-center;
  }
}
.ps button img {
  outline: none;
  width: 100%;
  filter: grayscale(100%);
  transition: 0.4s all;
  @extend .flex-column-center;
}
.ps button:hover > img {
  filter: none;
  @extend .flex-column-center;
}

.section {
  width: 600px;
  margin: auto;
  font-size: 20px;
  color: white;
  text-align: justify;
  height: 0;
  overflow: hidden;
}
.section:target {
  height: auto;
  @extend .flex-column-center;
}
.name {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  @extend .flex-column-center;
}
