@import '../../../../assets/scss_extendables/index';

.contact-page-wrapper {
  padding: 8% 0;
}

.main-contact {
  height: 450px;
  max-width: 900px;
  margin: auto;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.288);
  background-color: white;
}

.main-contact .contact-form {
  width: 65%;
  float: left;
}

.fa {
  font-size: 32px;
}

.contact-form form {
  width: 85%;
  margin: auto;
}

.contact-form h1 {
  text-align: center;
  padding: 30px;
  font-size: 30px;
  color: #343a40;
}

.contact-form form input,
.contact-form form textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 5px 0 17px 0;
  padding: 10px 30px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ddddddd2;
  font-size: 14px;
}

.contact-form form input:focus,
.contact-form form textarea:focus {
  box-shadow: 0px 0px 1px 2px #a489785e;
  transition: 0.2s ease;
}

.contact-form form input::placeholder,
.contact-form form textarea::placeholder {
  font-size: 12px;
}

.contact-form-btn {
  border-radius: 5px;
  border: 1px solid #343a40e0;
  background: #343a40e0;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 40px;
  margin-bottom: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.main-contact .contact-address {
  float: right;
  width: 35%;
  height: 450px;
  background: rgb(102, 102, 102);
  background: linear-gradient(
    163deg,
    rgba(102, 102, 102, 1) 0%,
    rgba(52, 58, 64, 1) 42%
  );
}

.contact-address .content {
  color: rgb(221, 221, 221);
  padding: 30px;
}

.content h1 {
  font-size: 30px;
  padding-bottom: 60px;
}

.content p {
  padding-top: 20px;
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  .main-contact {
    height: unset;
    display: flex;
    flex-direction: column-reverse;
  }

  .main-contact .contact-form {
    width: 100%;
    float: unset;
  }

  .main-contact .contact-address {
    float: unset;
    width: 100%;
    height: auto;
  }

  .contact-address .content {
    padding: 23px;
    text-align: center;
  }

  .content h1 {
    display: none;
  }

  .content p {
    padding: unset;
  }
}
