@import '../../../../assets/scss_extendables/index';

.contact-page-wrapper {
  background: linear-gradient(180deg, var(--secondary), var(--primary));
  padding: 8% 0;
  @include mediumPhoneMixin {
    padding: 75px 1rem 15px 1rem;
  }
  min-height: 100vh;
}

.main-contact {
  height: 450px;
  max-width: 900px;
  margin: auto;
  box-shadow: 0px 0px 5px 0px var(--shadows);
  background-color: white;
}

.main-contact .contact-form {
  width: 65%;
  float: left;
}

.fa {
  font-size: 32px;
}

.contact-form form {
  width: 85%;
  margin: auto;
}

.contact-form h1 {
  text-align: center;
  padding: 30px;
  font-size: 30px;
  color: var(--gradient-two);
}

.contact-form form input,
.contact-form form textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 5px 0 17px 0;
  padding: 10px 30px;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--outlines);
  font-size: 14px;
}

.contact-form form input:focus,
.contact-form form textarea:focus {
  box-shadow: 0px 0px 1px 2px var(--tertiary);
  transition: 0.2s ease;
}

.contact-form form input::placeholder,
.contact-form form textarea::placeholder {
  font-size: 12px;
}

.btn.btn-dark {
  width: 150px;
}

.main-contact .contact-address {
  float: right;
  width: 35%;
  height: 450px;
  // background: (#2d3436);
  background: linear-gradient(
    163deg,
    var(--tertiary) 0%,
    var(--gradient-two) 42%
  );
}

.contact-address .content {
  color: var(--font-color);
  padding: 30px;
}

.content h1 {
  font-size: 30px;
  padding-bottom: 60px;
}

.content p {
  padding-top: 20px;
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  .main-contact {
    height: unset;
    display: flex;
    flex-direction: column-reverse;
  }

  .main-contact .contact-form {
    width: 100%;
    float: unset;
  }

  .main-contact .contact-address {
    float: unset;
    width: 100%;
    height: auto;
  }

  .contact-address .content {
    padding: 23px;
    text-align: center;
  }

  .content h1 {
    display: none;
  }

  .content p {
    padding: unset;
  }

  .submit-btn {
    width: 150px;
    display: block;
    margin: 0 auto 1rem auto;
  }
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid var(--warn);
}
