@import '../../../../assets/scss_extendables/index';

.login-register h1 {
  margin: 0;
  padding: 30px;
  font-size: 30px;
}

.login-register a {
  color: var(--register);
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.henlo {
  background-color: var(--font-color);
  position: relative;
  overflow: hidden;
  width: 750px;
  max-width: 100%;
  min-height: 480px;
  box-shadow: 0px 0px 5px 0px var(--shadows);
}

.form-container form {
  @extend .flex-column-center;
  padding: 0 40px;
  height: 100%;
  text-align: center;
  background: var(--font-color);
}

.form-container input {
  outline: none;
  padding: 10px 30px;
  margin-bottom: 17px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--outlines);
  font-size: 14px;
}

.form-container input:focus {
  box-shadow: 0px 0px 1px 2px var(--tertiary);
  transition: 0.2s ease;
}

.login-register button {
  border-radius: 5px;
  border: 1px solid var(--gradient-two);
  background: var(--gradient-two);
  color: var(--font-color);
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

#register {
  background: transparent;
  border: 1px solid var(--font-color);
}

#login {
  background: transparent;
  border: 1px solid var(--font-color);
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.login-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.register-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}
.reset-link {
  cursor: pointer;
  transition: 0.4s;
}

.reset-link:hover {
  transition: 0.4s;
  color: var(--warn) !important;
}

.reset-password-modal {
  @extend .fixed-full-height;
  position: absolute;
  z-index: 3000000;
  background-color: var(--shadows);
  @extend .flex-column-center;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay-wrapper {
  position: relative;
  background: var(--secondary);
  background: linear-gradient(163deg, var(--secondary), var(--primary));
  color: var(--font-color);
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-panel {
  position: absolute;
  top: 0;
  @extend .flex-column-center;
  text-align: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-register {
  right: 0;
  transform: translateX(0);
}

.overlay-login {
  transform: translateX(-20%);
}

.login-register.panel-active .login-container {
  transform: translateX(100%);
}

.login-register.panel-active .overlay-container {
  transform: translateX(-100%);
}

.login-register.panel-active .register-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

.login-register.panel-active .overlay-wrapper {
  transform: translateX(50%);
}

.login-register.panel-active .overlay-login {
  transform: translateX(0);
}

.login-register.panel-active .overlay-register {
  transform: translateX(20%);
}

@media only screen and (max-width: 700px) {
  #loginRegister {
    margin: 0;
  }

  .henlo {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-height: 500px;
  }

  .login-register {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .form-container {
    position: relative;
    height: 50%;
  }

  .form-container form {
    width: 100%;
    background-color: var(--font-color);
  }

  .form-container input {
    margin-bottom: 10px;
  }

  .overlay-container {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 50%;
    overflow: hidden;
    z-index: 100;
    transition: transform 0.6s ease-in-out;
  }

  .overlay-wrapper {
    position: relative;
    color: var(--font-color);
    background: linear-gradient(
      163deg,
      var(--tertiary) 0%,
      var(--gradient-two) 42%
    );
    width: 100%;
    height: 200%;
    top: -100%;
    left: unset;
    transform: translateY(0);
    transition: transform 0.6s ease-in-out;
  }

  .overlay-panel {
    position: absolute;
    @extend .flex-column-center;
    text-align: center;
    left: 0;
    top: unset;
    width: 100%;
    height: 50%;
    transform: translateY(0);
    transition: transform 0.6s ease-in-out;
  }

  .register-container {
    opacity: 0;
    z-index: 1;
    transform: translateY(-100%);
    bottom: unset;
    width: unset;
  }

  .login-container {
    left: unset;
    width: unset;
    z-index: 2;
  }

  .overlay-register {
    bottom: 0;
    transform: translateY(0);
  }

  .overlay-login {
    transform: translateY(-20%);
  }

  .login-register.panel-active .login-container {
    transform: translateY(100%);
  }

  .login-register.panel-active .overlay-container {
    transform: translateY(-100%);
  }

  .login-register.panel-active .register-container {
    transform: translateY(0);
    opacity: 1;
    z-index: 5;
  }

  .login-register.panel-active .overlay-wrapper {
    transform: translateY(50%);
  }

  .login-register.panel-active .overlay-login {
    transform: translateY(0);
  }

  .login-register.panel-active .overlay-register {
    transform: translateY(20%);
  }
}

.fa.fa-times {
  z-index: 100;
  position: absolute;
  right: 2%;
  top: 2%;
  cursor: pointer;
  color: var(--acent);
  font-size: 36px;
  transition: 0.4s;
}
.fa.fa-times:hover {
  color: var(--warn);
  transition: 0.4s;
}

.card-header {
  display: flex;
  justify-content: flex-end;
  .acc-header {
    position: absolute;
    top: 15%;
    left: 15%;
  }
  .fa.fa-times.white-icon {
    position: static;
  }
}

.logged-in-controls {
  position: relative;
  border-radius: 10px;
  background-color: var(--secondary);
  width: 250px;
  height: 250px;
  box-shadow: inset 0 0 5px 0 var(--shadows);
  @extend .flex-column-center;
}
