<main class="henlo">
  <div class="login-register" id="logiRegiContainer" #logiRegi>
    <div class="form-container register-container">
      <form action="#">
        <h1>Register</h1>
        <input type="text" required placeholder="Username" />
        <input type="email" required placeholder="Email" />
        <input
          type="password"
          required
          id="passwordInput"
          placeholder="Password"
        />
        <button>Register</button>
      </form>
    </div>
    <div class="form-container login-container">
      <form action="#">
        <h1>Log in</h1>
        <input type="text" required placeholder="Username" />
        <input type="password" required placeholder="Password" />
        <a href="#">Forgot your password?</a>
        <button>Log in</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay-wrapper">
        <div class="overlay-panel overlay-login">
          <h1>Welcome Back</h1>
          <button id="login" (click)="triggerLogin()" class="ghost">
            Log in
          </button>
        </div>
        <div class="overlay-panel overlay-register">
          <h1>Don't have an account yet?</h1>
          <button id="register" (click)="triggerRegister()" class="ghost">
            Register
          </button>
        </div>
      </div>
    </div>
  </div>
  <i class="fa fa-times" (click)="closeModal()"></i>
</main>
