<main
  class="henlo"
  *ngIf="!isLoggedIn"
  (clickOutside)="closeModal()"
  data-aos="fade-down"
  data-aos-delay="0"
  data-aos-duration="500"
  [delayClickOutsideInit]="true"
  [exclude]="'.fa'"
  [clickOutsideEvents]="'click,touchstart, scroll'"
>
  <div class="login-register" id="logiRegiContainer" #logiRegi>
    <div class="form-container register-container">
      <form [formGroup]="registerForm" (ngSubmit)="onRegisterFormSubmit()">
        <h1>
          {{ 'LOGIN.REGISTER' | translate }}
        </h1>
        <input
          type="email"
          formControlName="registerEmail"
          required
          placeholder="{{ 'LOGIN.EMAIL' | translate }}"
        />
        <input
          formControlName="registerPassword"
          type="password"
          required
          id="passwordInput"
          placeholder="{{ 'LOGIN.PASSWORD' | translate }}"
        />
        <button [disabled]="!registerForm.valid" class="btn btn-dark">
          {{ 'LOGIN.REGISTER' | translate }}
        </button>
      </form>
    </div>
    <div class="form-container login-container">
      <form [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmit()">
        <h1>
          {{ 'LOGIN.LOGIN' | translate }}
        </h1>
        <input
          type="email"
          formControlName="email"
          required
          placeholder="{{ 'LOGIN.EMAIL' | translate }}"
        />
        <input
          type="password"
          formControlName="password"
          required
          placeholder="{{ 'LOGIN.PASSWORD' | translate }}"
        />
        <a class="reset-link" (click)="forgetPasswordModal()">
          {{ 'LOGIN.FORGOT_PASS' | translate }}
        </a>
        <div *ngIf="showDialog" class="reset-password-modal">
          <form
            #resetForm="ngForm"
            (ngSubmit)="forgotPasswordDialog(resetForm)"
          >
            <label for="reset-email">{{
              'LOGIN.FORGOT_LABEL' | translate
            }}</label>
            <input
              matInput
              ngModel
              type="email"
              name="reset-email"
              required
              placeholder="Your email"
            />
            <button
              [disabled]="!resetForm.form.valid"
              class="btn"
              type="submit"
              color="accent"
            >
              {{ 'LOGIN.RESET_BTN' | translate }}
            </button>
          </form>
        </div>
        <button class="btn btn-dark" [disabled]="!loginForm.valid">
          {{ 'LOGIN.LOGIN' | translate }}
        </button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay-wrapper">
        <div class="overlay-panel overlay-login">
          <h1>
            {{ 'LOGIN.LOGI_DESCRIPTION' | translate }}
          </h1>
          <!-- login-btn -->
          <button id="login" (click)="triggerLogin()" class="ghost">
            {{ 'LOGIN.LOGIN' | translate }}
          </button>
          <!-- /login-btn -->
        </div>
        <div class="overlay-panel overlay-register">
          <h1>
            {{ 'LOGIN.REGI_DESCRIPTION' | translate }}
          </h1>
          <!-- register-btn -->
          <button id="register" (click)="triggerRegister()" class="ghost">
            {{ 'LOGIN.REGISTER' | translate }}
          </button>
          <!-- /register-btn -->
        </div>
      </div>
    </div>
  </div>
  <i class="fa fa-times" (click)="closeModal()"></i>
</main>

<section
  *ngIf="isLoggedIn"
  data-aos="fade-down"
  data-aos-duration="500"
  data-aos-delay="0"
>
  <div
    class="card"
    (clickOutside)="closeModal()"
    [exclude]="'.fa'"
    [clickOutsideEvents]="'click,touchstart, scroll'"
  >
    <div class="card-header">
      <h6 class="acc-header">{{ 'LOGIN.ACC_CONTROLS' | translate }}</h6>
      <i class="fa fa-times white-icon" (click)="closeModal()"></i>
    </div>
    <div class="card-body">
      <a [routerLink]="['/my-account']" class="btn btn-dark mr-2">{{
        'HEADER.MY_ACCOUNT' | translate
      }}</a>
      <button class="btn btn-danger" (click)="logOut()">
        {{ 'LOGIN.LOG_OUT' | translate }}
      </button>
    </div>
  </div>
</section>
