<section id="login-screen">
  <div class="modal-wrapper row">
    <div class="col-md-12 col-lg-6 left-screen-gradient">
      <h2 class="text-center text-white mb-3">
        Don't have an account yet?
      </h2>
      <button class="btn btn-light">Register</button>
    </div>
    <div class="col-md-12 col-lg-6 right-screen">
      <h2>Welcome Back.</h2>
      <form>
        <label for="username" class="label mt-3" id="username-label"
          >Username</label
        >
        <input
          type="text"
          name="username"
          required
          id="username-input"
          placeholder="Username"
        />
        <label for="password" class="label mt-3" id="password-label"
          >Password</label
        >
        <input
          type="password"
          required
          id="username-input"
          placeholder="Password"
        />
        <button class="btn mt-3" type="submit">Log In</button>
      </form>
      <a href="#">Forgot Password?</a>
    </div>
  </div>
</section>
