<section>
  <div class="flex-container d-sm-block d-lg-flex justify-content-between">
    <div class="text-outside">
      <h1 data-aos="fade-right">THE SUBMARINE PROJECT</h1>
      <h2 class="my-6 text-italic" data-aos="fade-right">Ready to dive in?</h2>
      <button
        class="d-block mx-auto btn-go"
        (click)="ngOnDestroy()"
        data-aos="fade-up"
      >
        GO!
      </button>
    </div>
    <div class="form-wrapper">
      <!-- TEST -->
      <div class="form-container register-container">
        <form [formGroup]="registerForm" (ngSubmit)="onRegisterFormSubmit()">
          <h2 class="register-text" data-aos="fade-left">
            Create an account
          </h2>
          <input
            data-aos="fade-up"
            class="email-input"
            type="email"
            formControlName="registerEmail"
            required
            placeholder="{{ 'LOGIN.EMAIL' | translate }}"
          />
          <input
            data-aos="fade-up"
            formControlName="registerPassword"
            type="password"
            required
            id="passwordInput"
            placeholder="{{ 'LOGIN.PASSWORD' | translate }}"
          />
          <button
            [disabled]="!registerForm.valid"
            class="btn"
            data-aos="fade-up"
          >
            {{ 'LOGIN.REGISTER' | translate }}
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
