@import '../../../../assets/scss_extendables/index';

section {
  overflow: hidden;
  @extend .fixed-full-height;
  @extend .flex-column-center;
  height: 100%;
  z-index: 10000000;
  background-image: url('/assets/landing-camec.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: whitesmoke;
  button {
    width: 150px;
  }

  h1 {
    font-size: 5rem;
    @include mediumPhoneMixin {
      font-size: 50px;
      margin-top: 3rem;
    }
  }
  h2 {
    font-size: 2rem;
    @include mediumPhoneMixin {
      font-size: 32px;
    }
  }
  .my-6 {
    font-style: italic;
    margin: 4rem 0;
    @include mediumPhoneMixin {
      margin: 2rem 0;
    }
  }
  .text-outside {
    width: 100%;
    text-align: center;
  }
  .form-wrapper {
    width: 100%;
    @extend .flex-column-center;
  }
}

form {
  border: solid whitesmoke 1px;
  padding: 3rem;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  @include mediumPhoneMixin {
    display: block;
    border-radius: 15px;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  input,
  button,
  label {
    display: block;
  }
  .register-text {
    margin: 1rem;
    text-align: center;
  }
  mat-form-field {
    width: 100%;
    margin: 15px 0;
  }
}

//=========================================================
