<section>
  <div class="flex-container d-sm-block d-lg-flex justify-content-between">
    <div class="text-outside">
      <h1 data-aos="fade-right">THE SUBMARINE PROJECT</h1>
      <h2 class="my-6 text-italic" data-aos="fade-right">Ready to dive in?</h2>
      <button
        class="d-block mx-auto mb-5"
        mat-raised-button
        (click)="ngOnDestroy()"
        data-aos="fade-up"
      >
        GO!
      </button>
    </div>
    <div class="form-wrapper">
      <!-- TEST -->
      <div class="form-container register-container">
        <form [formGroup]="registerForm" (ngSubmit)="onRegisterFormSubmit()">
          <h2 class="register-text" data-aos="fade-left">
            Create an account
          </h2>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input
              matInput
              data-aos="fade-up"
              class="email-input"
              type="email"
              formControlName="registerEmail"
              required
              placeholder="{{ 'LOGIN.EMAIL' | translate }}"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input
              matInput
              data-aos="fade-up"
              formControlName="registerPassword"
              type="password"
              required
              id="passwordInput"
              placeholder="{{ 'LOGIN.PASSWORD' | translate }}"
            />
          </mat-form-field>
          <button
            [disabled]="!registerForm.valid"
            mat-raised-button
            data-aos="fade-up"
            class="d-block mx-auto"
          >
            {{ 'LOGIN.REGISTER' | translate }}
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
