<div class="review-container h-100 my-3">
  <div class="card-aside">
    <div class="img-container">
      <img
        src="{{ reviewElement.data.imagePath }}"
        alt="{{ reviewElement.data.companyName }}"
        class="img-fluid"
      />
    </div>
    <p class="text-center my-sm-0 my-md-2 font-italic">
      {{ reviewElement.data.timeStamp }}
    </p>
  </div>
  <div class="card">
    <div class="card-header">
      <a [routerLink]="['/companies/:id']" class="card-title">{{
        reviewElement.data.companyName
      }}</a>
      <ngb-rating [(rate)]="currentRate">
        <ng-template let-fill="fill" let-index="index">
          <span
            class="star"
            [class.filled]="fill === 100"
            [class.bad]="index < 3"
            >&#9733;</span
          >
        </ng-template>
      </ngb-rating>
    </div>
    <div class="card-body d-flex justify-content-between">
      <div class="supporting-flex">
        <p class="card-text">{{ reviewElement.data.textExcerpt }}</p>
        <app-review-full
          [route]="reviewElement.id"
          [revEl]="reviewElement.data"
        ></app-review-full>
      </div>
      <div class="votes-container">
        <!--votes container-->
        <app-votes-container
          [id]="reviewElement.id"
          [username]="reviewElement.data.userName"
        ></app-votes-container>
      </div>
    </div>
  </div>
</div>
