<div class="review-container">
  <div class="review-container-left">
    <div class="img-container">
      <img
        src="{{ reviewElement.data.imagePath }}"
        alt="{{ reviewElement.data.companyName }}"
        class="img-fluid"
      />
    </div>
    <div class="company-info">
      <a
        [routerLink]="['/companies/', reviewElement.data.companyName]"
        class="company-name-link animatedBefore"
        >{{ reviewElement.data.companyName }}</a
      >
      <div class="stars-container">
        <i
          class="fa fa-star"
          *ngFor="let star of currentRate"
          [ngStyle]="star > 10 ? { opacity: 0.2 } : { opacity: 1 }"
        ></i>
      </div>
      <p class="timestamp">{{ formattedDate }}</p>
    </div>
  </div>
  <div class="review-container-right">
    <p id="textTruncate">
      {{ reviewElement.data.textExcerpt | slice: 0:64 }}...
    </p>
    <div class="votes-container">
      <app-votes-container
        [id]="reviewElement.id"
        [username]="reviewElement.data.userName"
      ></app-votes-container>
    </div>
    <div class="btn-group">
      <button mat-raised-button [routerLink]="['/reviews', reviewElement.id]">
        {{ 'HOMEPAGE.SEE_MORE_BTN' | translate }}
      </button>
      <button
        class="ml-3"
        [disabled]="reviewReported"
        (click)="openReportDialog()"
        mat-raised-button
        color="warn"
      >
        {{ 'HOMEPAGE.REPORT' | translate }}
      </button>
      <div id="report-dialog" *ngIf="showDialog" [@enterAnimation]>
        <div>
          <h6 mat-dialog-title>{{ 'CONFIRM_DIALOG.REPORT_Q' | translate }}</h6>
          <hr />
          <div
            mat-dialog-actions
            class="btn-group d-flex justify-content-center"
          >
            <button
              mat-raised-button
              color="warn"
              (click)="sendReport('reviewElement.id')"
              class="mr-3"
            >
              {{ 'CONFIRM_DIALOG.YES' | translate }}
            </button>
            <button (click)="openReportDialog()" mat-raised-button>
              {{ 'CONFIRM_DIALOG.CANCEL' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
