<header *ngIf="!checkIfFirstTimeUser()">
  <app-navbar></app-navbar>
</header>
<main
  #main

  *ngIf="!checkIfFirstTimeUser()"
>
  <router-outlet
  ></router-outlet>
</main>
<div
  id="back-to-top"
  [@enterAnimation]
  *ngIf="displayTop > 150"
  (click)="scrollToTop()"
>
  <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
</div>
<footer *ngIf="!checkIfFirstTimeUser()">
  <app-footer></app-footer>
</footer>
<app-landing-page
  [@enterAnimation]
  *ngIf="checkIfFirstTimeUser()"
></app-landing-page>
<app-login
  [@enterAnimation]
  [isLoggedIn]="passLoggedStateInfo"
  *ngIf="shouldModalOpen"
></app-login>
<app-http-loader *ngIf="pendingHttpRequest"></app-http-loader>
<app-edit-review
  [@enterAnimation]
  [reviewId]="editReviewId"
  [reviewData]="editReviewData"
  *ngIf="showEditWindow"
></app-edit-review>
<app-create-review [@enterAnimation] *ngIf="showCreateReviewWindow">
</app-create-review>
