@import '../assets/scss_extendables/index';

footer {
  box-shadow: 0 0 3px 0 getColor(box-shadow-color);
}

main {
  min-height: 100%;
  background-color: #f0f2f5;
}

app-login {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  @extend .flex-column-center;
  height: 100%;
}
