@import '../assets/scss_extendables/index';

header {
  background-color: #512da8;
}

footer {
  box-shadow: 0 0 3px 0 getColor(box-shadow-color);
}

main {
  min-height: 100vh;
  background-color: #f0f2f5;
}
