@import '../assets/scss_extendables/index';

footer {
  position: relative;
}

main {
  min-height: 100%;
  background-color: var(--font-color);
  position: relative;
  z-index: 0;
}
#back-to-top {
  position: fixed;
  bottom: 16%;
  right: 8%;
  i.fa {
    transition: 0.4s ease;
    cursor: pointer;
    color: var(--font-color);
    font-size: 45px;
  }
  i.fa:hover {
    animation-fill-mode: both;
    animation-name: backToTop;
    animation-duration: 0.8s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

@keyframes backToTop {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-12px);
  }
}

header {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
}

app-login,
app-edit-review,
app-create-review {
  background-color: var(--shadowsOpacified);
  @extend .fixed-full-height;
  z-index: 20;
  @extend .flex-column-center;
}
