@import '../../../../assets/scss_extendables/index';
section {
  background: linear-gradient(180deg, var(--secondary), var(--primary));
  @extend .flex-column-center;
  min-height: 100vh;
  h1 {
    font-size: 72px;
  }
  h1,
  h6 {
    color: var(--font-color);
  }
  a {
    text-decoration: none;
    width: 150px;
  }
}
