@import '../../../../../assets/scss_extendables/index';

section {
  min-height: 100vh;
  padding-bottom: 15px;
  @extend .wavey-background;
  p,
  h1 {
    color: var(--font-color);
  }
  p {
    margin: 0;
  }
  p,
  a {
    font-size: 20px;
    @include mediumPhoneMixin {
      font-size: 16px;
    }
  }
  i.fa {
    font-size: 26px;
    @include mediumPhoneMixin {
      font-size: 20px;
    }
  }

  h1 {
    position: relative;
    font-size: 52px;
    padding-bottom: 10px;
    @include mediumPhoneMixin {
      font-size: 32px;
    }
  }
}

.main-container {
  background-color: var(--home-cards);
  box-shadow: 3px 3px 5px 0 var(--shadows);
  padding: 2rem;
  border-radius: 15px;
  display: flex;
  @include mediumPhoneMixin {
    display: block;
    width: 90%;
    margin: auto;
  }
}

.img-container {
  width: 150px;
  height: 150px;
  background-color: whitesmoke;
  border-radius: 50%;
  box-shadow: 1px 1px 5px 0 var(--shadows);
  .img-fluid {
    width: 150px;
  }
}

.company-info {
  position: relative;
  padding-bottom: 25px;
}

.main-aside {
  p {
    margin: 1rem 0;
  }
  @extend .flex-column-center;
  border-left: 3px solid var(--font-color);
  margin-left: 5rem;
  @include mediumPhoneMixin {
    margin: 3rem 0 1rem 0;
    padding-top: 1rem;
    border-left: none;
    border-top: 3px solid var(--font-color);
  }
  a.btn {
    @include mediumPhoneMixin {
      margin-bottom: 1rem;
    }
  }
}

.reviews-container {
  margin-top: 5rem;
  padding-top: 2rem;
  border-top: 3px solid var(--font-color);
  @include mediumPhoneMixin {
    width: 90%;
  }

  .review-grid-container {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    gap: 2rem;
    @include mediumPhoneMixin {
      display: block;
    }
  }

  .review-element {
    background-color: var(--home-cards);
    padding: 1rem;
    box-shadow: 0 0 5px 0 var(--shadows);
    border-radius: 5px;
    margin-bottom: 2rem;
    width: 100%;
    overflow: hidden;
    @include mediumPhoneMixin {
      width: 100%;
    }
    a.d-block.mx-auto {
      width: 150px;
    }
  }
}
