<section class="mt-75">
  <div class="main-container container mt-5">
    <div class="main-body container">
      <div class="company-header">
        <h1 data-aos="fade-right">{{ currentCompany?.name }}</h1>
      </div>
      <div
        class="company-info my-5 d-flex justify-content-between"
        data-aos="fade-up"
      >
        <p>
          <i class="fa fa-briefcase mr-2"></i>
          <span class="font-weight-bold"
            >{{ 'COMPANY_FULL.INDUSTRY' | translate }}:</span
          >
          {{ currentCompany?.technology }}
        </p>
        <p>
          <i class="fa fa-map-marker mr-2"></i>
          <span class="font-weight-bold"
            >{{ 'COMPANY_FULL.LOCATION' | translate }}:</span
          >
          {{ currentCompany?.location }}
        </p>
      </div>
      <div class="company-body" data-aos="fade-up">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta quae
          voluptate temporibus impedit maiores esse aliquam culpa quisquam
          voluptates magni!
        </p>
        <button
          class="d-block mx-auto w-50 mt-5"
          mat-raised-button
          (click)="loadReviews(revContainer)"
          *ngIf="!disableLoadReviewsButton"
        >
          {{ 'COMPANY_FULL.SEE_REVIEWS' | translate }}
        </button>
        <button
          class="d-block mx-auto w-50 mt-5"
          mat-raised-button
          (click)="loadReviews()"
          *ngIf="disableLoadReviewsButton"
        >
          {{ 'COMPANY_FULL.HIDE_REVIEWS' | translate }}
        </button>
      </div>
    </div>
    <div class="main-aside container" data-aos="fade-up">
      <div class="img-container">
        <img
          class="img-fluid"
          src="{{ currentCompany?.logo }}"
          alt="{{ currentCompany?.name }}"
        />
      </div>
      <p>
        <i class="fa fa-star mr-2"></i>
        <span class="font-weight-bold"
          >{{ 'COMPANY_FULL.AVRG' | translate }} :
        </span>
        {{ currentCompany?.averageReview }}
      </p>
      <p>
        <i class="fa fa-users mr-2"></i>
        <span class="font-weight-bold"
          >{{ 'COMPANY_FULL.EMPLOYEES' | translate }}:
        </span>
        50
      </p>
      <a href="#" class="btn btn-danger d-block mx-auto">
        <i class="fa fa-link mr-2"></i>
        {{ 'COMPANY_FULL.WEBSITE' | translate }}</a
      >
    </div>
  </div>
  <div class="reviews-container container" #revContainer data-aos="fade-up">
    <div *ngIf="canLoadReviews" class="review-grid-container">
      <div
        *ngFor="let element of reviews"
        class=" card review-element"
        data-aos="fade-up"
      >
        <div class="card-header d-flex justify-content-between">
          <p>{{ element.timeStamp }}</p>
          <p><i class="fa fa-star"></i> {{ element.rating }} / 10</p>
        </div>
        <div class="card-body">
          <p class="mt-2 mb-5">{{ element.textExcerpt }}</p>
          <button
            class="d-block mx-auto"
            mat-raised-button
            color="warn"
            [routerLink]="['/reviews', element.id]"
          >
            {{ 'HOMEPAGE.SEE_MORE_BTN' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
