@import '../../../../assets/scss_extendables/index';
.terms-of-service-section {
  padding-bottom: 15px;
  background: linear-gradient(
    180deg,
    rgba(29, 33, 65, 1) 0%,
    rgba(199, 219, 191, 1) 100%
  );
  @extend .gradient-background;
  min-height: 100vh;
  color: var(--reverse-font-color);
  h1 {
    font-size: 40px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: var(--test) !important;
    color: white;
    @extend .underlineBefore;
    @include mediumPhoneMixin {
      font-size: 46px;
    }
    @include smallPhoneMixin {
      font-size: 26px;
    }
  }

  h1::before {
    border: 5px;
    box-shadow: 0px 2px 7px 1px var(--shadows);
  }

  ol {
    font-size: 20px;
    z-index: -100;
    color: var(--font-color);
    background-color: var(--reverse-font-color);
    @include mediumPhoneMixin {
      width: 90%;
      font-size: 14px;
    }
  }
}

div {
  background-color: var(--reverse-font-color);
  border: 5px solid var(--test);
  border-radius: 15px;
  width: 40%;
  @include smallPhoneMixin {
    width: 90%;
  }
  @include tabletMixin {
    width: 70%;
  }
  @include largePhoneMixin {
    width: 70%;
  }
  @include smallDesktopMixin {
    width: 50%;
  }
  @include ExtraLargeDesktopMixin {
    width: 40%;
  }
}
