<section class="terms-of-service-section">
  <h1 class="text-center">{{ 'TERMS_OF_SERVICE.TITLE' | translate }}</h1>
  <br />
  <ol class="mx-auto px-3">
    <li>
      <span class="font-weight-bold">{{
        'TERMS_OF_SERVICE.COOKIE_TITLE' | translate
      }}</span>
      <p>
        {{ 'TERMS_OF_SERVICE.COOKIE_BODY' | translate }}
      </p>
    </li>
    <li>
      <span class="font-weight-bold">{{
        'TERMS_OF_SERVICE.HATE_SPEECH_TITLE' | translate
      }}</span>
      <p>{{ 'TERMS_OF_SERVICE.HATE_SPEECH_BODY' | translate }}</p>
    </li>
    <li>
      <span class="font-weight-bold">{{
        'TERMS_OF_SERVICE.REVIEWS_TITLE' | translate
      }}</span>
      <p>{{ 'TERMS_OF_SERVICE.REVIEWS_BODY' | translate }}</p>
    </li>
    <li>
      <span class="font-weight-bold">{{
        'TERMS_OF_SERVICE.ANON_TITLE' | translate
      }}</span>
      <p>
        {{ 'TERMS_OF_SERVICE.ANON_BODY' | translate }}
      </p>
    </li>
    <li>
      <span class="font-weight-bold">{{
        'TERMS_OF_SERVICE.RESERVED_1' | translate
      }}</span>
      <br />
      {{ 'TERMS_OF_SERVICE.RESERVED_2' | translate }}
    </li>
  </ol>
</section>
