@import '../../../../assets/scss_extendables/index';
.terms-of-service-section {
  @extend .gradient-background;
  min-height: 100vh;
  color: getColor(whiteGrey);
  h1 {
    font-size: getFontSize(h1);
    padding: 3rem 0;
    padding-bottom: 1rem;
    margin: 0 2rem;
    @extend .underlineBefore;
    @include mediumPhoneMixin {
      font-size: 46px;
    }
    @include smallPhoneMixin {
      font-size: 26px;
    }
  }

  ol {
    width: fit-content;
    font-size: 22px;
    @include mediumPhoneMixin {
      width: 90%;
      font-size: 18px;
    }
  }
}
