@import '../../../../assets/scss_extendables/index';
.terms-of-service-section {
  background: linear-gradient(180deg, #2d3436, #2c3e50);
  min-height: 100vh;
  color: whitesmoke;
  h1 {
    font-size: 72px;
    padding: 3rem 0;
    margin: 0 2rem;
    position: relative;
    @include mediumPhoneMixin {
      font-size: 46px;
    }
    @include smallPhoneMixin {
      font-size: 26px;
    }
  }
  h1::before {
    content: '';
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    margin: auto;
    height: 2px;
    background-color: whitesmoke;
  }
  ol {
    width: fit-content;
    font-size: 22px;
    @include mediumPhoneMixin {
      width: 90%;
      font-size: 18px;
    }
  }
}
