<div class="filter-options py-3 d-flex justify-content-center w-100">
  <select class="form-control bg-light" name="options" id="filter-options">
    <option value="City">City</option>
    <option value="Country">Country</option>
    <option value="Rating">Rating</option>
  </select>
  <button class="btn filter-btn">Filter</button>
</div>
<section class="d-flex justify-content-between">
  <section class="main-section w-100 w-lg-75 mr-3">
    <h1 class="py-5">Latest Reviews</h1>
    <app-review-element
      class="my-3"
      [reviewElement]="review"
      *ngFor="let review of listOfReviews"
    ></app-review-element>
  </section>
  <aside class="account-controls d-none d-lg-block">
    <div class="account-wrapper" *ngIf="!loggedIn">
      <div class="avatar-wrapper">
        <img
          src="/assets/submarine.png"
          alt="User Avatar"
          class="img-fluid mt-5"
        />
      </div>
      <div class="dropdown-divider mx-3"></div>
      <h4 class="text-center my-3">
        You need to create an account first.
      </h4>
      <div class="d-flex justify-content-center">
        <form [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input
              type="text"
              matInput
              placeholder="Email"
              formControlName="email"
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Password</mat-label>
            <input
              type="password"
              matInput
              placeholder="Password"
              formControlName="password"
            />
          </mat-form-field>

          <br />
          <button
            type="submit"
            class="btn btn-dark mx-auto d-block"
            id="signup-btn-home"
          >
            Sign Up
          </button>
        </form>
      </div>
    </div>
  </aside>
</section>
