@import '../../../../assets/scss_extendables/index';

.main-section {
  overflow: hidden;
  background-image: url('../../../../assets/Waves.png');
  background-size: 1920px;
  background-repeat: no-repeat;
  background-position-y: -10rem;
  background-attachment: fixed;

  h1 {
    font-size: getFontSize(h1);
    @extend .underlineBefore;
    color: whitesmoke;
    font-weight: 200;
    padding: 10px;
    margin-top: 10rem;
    left: 10%;
    @include smallPhoneMixin {
      font-size: 32px;
    }
    @include largePhoneMixin {
      font-size: 48px;
    }

    @include tabletMixin {
      font-size: 54px;
    }

    @include smallDesktopMixin {
      font-size: 60px;
    }

    @include largeDesktopMixin {
      font-size: 66px;
    }
  }
  h1::before {
    background-color: whitesmoke !important;
  }
}

.featured-company {
  color: var(--font-color);
  padding: 3rem;
  margin-top: 6rem;
  width: 67%;
  box-shadow: 0 0 3px 0 #212121;
  background-color: var(--home-cards);
  border-radius: 15px;
  @include mediumPhoneMixin {
    width: 90%;
    padding: 1rem;
  }
  .featured-company-card-holder {
    padding: 2rem;
    @include mediumPhoneMixin {
      padding: 1rem;
    }
    position: relative;
    width: 100%;
    box-shadow: 1px 1px 3px 0 var(--reverse-font-color);
    border-radius: 15px;
    .img-container {
      position: absolute;
      top: -15%;
      border-radius: 50%;
      background-color: white;
      box-shadow: 1px 1px 5px 0 #212121;
      .img-fluid {
        width: 110px;
      }
    }
  }
}

.featured-company-left {
  a {
    @extend .animatedBefore;
    text-decoration: none;
    font-size: 4rem;
    margin-bottom: 2rem;
    display: inline-block;
  }
  .text-small {
    font-size: 16px;
    font-weight: 300;
  }
}

.featured-company-right {
  @include mediumPhoneMixin {
    padding-top: 4rem;
  }
}

.featured-company-info {
  position: relative;
  padding-left: 2rem;
  @include mediumPhoneMixin {
    padding-left: 1rem;
  }
}

.featured-company-info::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 5px;
  background-color: red;
}

.top-reviewed-companies {
  h3 {
    width: fit-content;
    left: 10%;
    font-weight: 200;
    color: var(--font-color);
    @include smallPhoneMixin {
      font-size: 22px;
    }
    @include smallDesktopMixin {
      font-size: 24px;
    }
  }
  h3::before {
    left: -45%;
    width: 142%;
  }
}

.owl-container {
  margin: 5rem;
  @include mediumPhoneMixin {
    margin: 5rem 1rem;
  }
}
ng-template {
  position: relative;
}
.carousel-img-container {
  @include mediumPhoneMixin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-fluid {
    width: 300px;
    @include mediumPhoneMixin {
      width: 120px;
    }
  }
}

.carousel-content {
  @include mediumPhoneMixin {
    padding-left: 10px;
  }
  a.animatedBefore {
    text-decoration: none;
    font-size: 46px;
    @include mediumPhoneMixin {
      font-size: 32px;
    }
  }
}

.carousel {
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 5px 0 var(--shadows);
  background-color: var(--home-cards);
  color: var(--font-color);
  height: 375px;
  width: 70%;
  margin: 2rem auto;
  @include mediumPhoneMixin {
    padding: 1rem;
    width: 80%;
    height: auto;
  }
}

.mt-home {
  margin-top: 200px;
}

.reviews {
  color: var(--font-color);
  left: 20%;
  font-weight: 200;
}

.reviews::before {
  width: 68%;
}

app-review-element {
  margin: auto;
  width: 100%;
  @include mediumPhoneMixin {
    width: 90%;
    margin: auto;
  }
}

.dark-bg {
  background-color: var(--primary);
}

.d-block.mx-auto.mt-5.td-none {
  width: 150px;
  @include mediumPhoneMixin {
    width: 50%;
  }
  @include smallPhoneMixin {
    width: fit-content;
  }
  @include smallDesktopMixin {
    width: 50%;
  }
}

.fa.paginator {
  transition: 0.4s ease;
  cursor: pointer;
  color: var(--font-color);
  font-size: 45px;
}

.fa.paginator:hover {
  animation-fill-mode: both;
  animation-name: backToTop;
  animation-duration: 0.8s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes backToTop {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(12px);
  }
}

.reviews-container {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  gap: 5rem;
  row-gap: 7rem;
  @include mediumPhoneMixin {
    grid-template-columns: 100%;
    row-gap: 10rem;
  }
  @include smallDesktopMixin {
    grid-template-columns: 100%;
  }
}

.w-56 {
  width: 45px;
}
