<div class="filter-options py-3 d-flex justify-content-center w-100 bg-light">
  <select class="form-control bg-light" name="options" id="filter-options">
    <option value="City">City</option>
    <option value="Country">Country</option>
    <option value="Rating">Rating</option>
  </select>
  <button class="btn filter-btn">Filter</button>
</div>
<section class="d-flex justify-content-between dark-bg">
  <section class="main-section w-100 mr-3">
    <section class=" hero-companies my-5">
      <h1 class="featured-companies-h">Featured Company</h1>
      <div class="card dark-bg">
        <div class="card-header">
          <a [routerLink]="['/']">Hero Company</a>
        </div>
        <div class="card-body d-flex">
          <div class="card-aside">
            <div class="img-fluid">
              <img src="/assets/submarine.png" alt="Hero Company Title" />
            </div>
          </div>
          <div class="company-info">
            <div class="icon-toolbar d-flex py-2 mb-3">
              <div class="company-info-item">
                <h6 class="company-info">
                  <i class="fa fa-industry mr-2" aria-hidden="true"></i
                  >Technology
                </h6>
              </div>
              <div class="company-info-item">
                <h6 class="company-info">
                  <i class="fa fa-map-marker mr-2" aria-hidden="true"></i>Vidoe
                  Smilevski Bato 95
                </h6>
              </div>
              <div class="company-info-item">
                <h6 class="company-info">
                  <i class="fa fa-phone-square mr-2" aria-hidden="true"></i>+389
                  77 500 000
                </h6>
              </div>
            </div>
            <p class="card-text text-white mt-2">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Distinctio possimus error odit adipisci, commodi modi.
            </p>
            <a
              href="#"
              mat-raised-button
              color="primary"
              class="d-block mx-auto mt-5 w-50 td-none"
              >See More</a
            >
          </div>
        </div>
      </div>
      <div class="top-reviewed-companies mt-6">
        <h3 class="text-center text-white my-5 underlineBefore p-2">
          Top Reviewed Companies
        </h3>
        <div class="reviewed-companies-container d-flex">
          <div class="card mr-3 dark-bg">
            <div class="card-header">
              <a>Company name</a>
            </div>
            <div class="card-body">
              <div class="card-aside">
                <div class="img-fluid">
                  <img src="/assets/submarine.png" alt="BestReviewedCompany" />
                </div>
              </div>
              <div class="reviewed-body">
                <div class="icon-bundle">
                  <h6><i class="fa fa-map-marker mr-2"></i>Location</h6>
                  <h6 class="ml-2">
                    <i class="fa fa-star mr-2"></i>Average: 5
                  </h6>
                </div>
                <a
                  href="#"
                  mat-raised-button
                  color="primary"
                  class="d-block mx-auto mt-5 td-none"
                  >See More</a
                >
              </div>
            </div>
          </div>
          <div class="card mr-3 dark-bg">
            <div class="card-header">
              <a>Company name</a>
            </div>
            <div class="card-body">
              <div class="card-aside">
                <div class="img-fluid">
                  <img src="/assets/submarine.png" alt="BestReviewedCompany" />
                </div>
              </div>
              <div class="reviewed-body">
                <div class="icon-bundle">
                  <h6><i class="fa fa-map-marker mr-2"></i>Location</h6>
                  <h6 class="ml-2">
                    <i class="fa fa-star mr-2"></i>Average: 5
                  </h6>
                </div>
                <a
                  href="#"
                  mat-raised-button
                  color="primary"
                  class="d-block mx-auto mt-5 td-none"
                  >See More</a
                >
              </div>
            </div>
          </div>
          <div class="card mr-3 dark-bg">
            <div class="card-header">
              <a>Company name</a>
            </div>
            <div class="card-body">
              <div class="card-aside">
                <div class="img-fluid">
                  <img src="/assets/submarine.png" alt="BestReviewedCompany" />
                </div>
              </div>
              <div class="reviewed-body">
                <div class="icon-bundle">
                  <h6><i class="fa fa-map-marker mr-2"></i>Location</h6>
                  <h6 class="ml-2">
                    <i class="fa fa-star mr-2"></i>Average: 5
                  </h6>
                </div>
                <a
                  href="#"
                  mat-raised-button
                  color="primary"
                  class="d-block mx-auto mt-5 td-none"
                  >See More</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <h3 class="text-center text-white mt-5 mb-3 underlineBefore p-2">
      Reviews
    </h3>
    <app-review-element
      class="my-3"
      [reviewElement]="review"
      *ngFor="let review of listOfReviews"
    ></app-review-element>
  </section>
  <aside class="account-controls d-none d-lg-block">
    <div class="account-wrapper" *ngIf="!loggedIn">
      <div class="avatar-wrapper">
        <img
          src="/assets/submarine.png"
          alt="User Avatar"
          class="img-fluid mt-5"
        />
      </div>
      <div class="dropdown-divider mx-3"></div>
      <h4 class="text-center my-3">
        You need to create an account first.
      </h4>
      <div class="d-flex justify-content-center">
        <form [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="text" matInput formControlName="email" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" />
          </mat-form-field>

          <br />
          <button
            type="submit"
            class="btn btn-dark mx-auto d-block"
            id="signup-btn-home"
          >
            Sign Up
          </button>
        </form>
      </div>
    </div>
  </aside>
</section>
