<div class="filter-options py-3 d-flex justify-content-center w-100">
  <select class="form-control bg-light" name="options" id="filter-options">
    <option value="City">City</option>
    <option value="Country">Country</option>
    <option value="Rating">Rating</option>
  </select>
  <button class="btn filter-btn">Filter</button>
</div>
<section class="d-flex justify-content-between">
  <section class="main-section w-100 w-lg-75 mr-3">
    <section class="main-section w-100 w-lg-75 mr-3">
      <h1 class="featured-companies-h">Top Company</h1>

      <div class="grid-container">
        <div class="hero-company">
          <div class="company-header">
            <h2>Hero Company</h2>
          </div>
          <div class="company-body">
            <div class="img-container">
              <img
                src="/assets/submarine.png"
                alt="featured company"
                class="img-fluid"
              />
            </div>
            <div class="company-info-container">
              <div class="company-info-item">
                <i class="fa fa-industry" aria-hidden="true"></i>
                <h4 class="company-info">Technology</h4>
              </div>
              <div class="company-info-item">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <h4 class="company-info">Vidoe Smilevski Bato 95</h4>
              </div>
              <div class="company-info-item">
                <i class="fa fa-phone-square" aria-hidden="true"></i>
                <h4 class="company-info">+389 77 500 000</h4>
              </div>
            </div>
            <h2>About the company:</h2>
            <p class="company-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad nemo
              est aut voluptatum enim cupiditate atque dolor recusandae, quas
              doloremque nostrum aperiam ipsam. Velit fuga explicabo similique
              rem quo tempore? Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Saepe qui con. Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Aliquam quo incidunt et facilis
              error eveniet odit est. Similique, explicabo necessitatibus. Nemo
              praesentium quasi cupiditate repellat, error nam incidunt nostrum
              veritatis.
            </p>
          </div>
        </div>
        <!--      Featured Company              -->
        <h2 class="featured-companies-h">Featured Companies</h2>
        <div class="d-flex justify-content-between">
          <div class="featured-company ">
            <div class="company-header">
              <h3>Featured Company</h3>
            </div>
            <div class="company-body">
              <div class="img-container">
                <img
                  src="/assets/submarine.png"
                  alt="featured company"
                  class="img-fluid"
                />
              </div>
              <div class="featured-company-info-container">
                <div class="featured-company-info-item">
                  <i class="fa fa-industry" aria-hidden="true"></i>
                  <h4 class="company-info">Technology</h4>
                </div>
                <div class="featured-company-info-item">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <h4 class="company-info">Vidoe Smilevski Bato 95</h4>
                </div>
                <div class="featured-company-info-item">
                  <i class="fa fa-phone-square" aria-hidden="true"></i>
                  <h4 class="company-info">+389 77 500 000</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="featured-company ">
            <div class="company-header">
              <h3>Featured Company</h3>
            </div>
            <div class="company-body">
              <div class="img-container">
                <img
                  src="/assets/submarine.png"
                  alt="featured company"
                  class="img-fluid"
                />
              </div>
            </div>
            <div class="featured-company-info-container">
              <div class="featured-company-info-item">
                <i class="fa fa-industry" aria-hidden="true"></i>
                <h4 class="company-info">Technology</h4>
              </div>
              <div class="featured-company-info-item">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <h4 class="company-info">Vidoe Smilevski Bato 95</h4>
              </div>
              <div class="featured-company-info-item">
                <i class="fa fa-phone-square" aria-hidden="true"></i>
                <h4 class="company-info">+389 77 500 000</h4>
              </div>
            </div>
          </div>
          <div class="featured-company ">
            <div class="company-header">
              <h3>Featured Company</h3>
            </div>
            <div class="company-body">
              <div class="img-container">
                <img
                  src="/assets/submarine.png"
                  alt="featured company"
                  class="img-fluid"
                />
              </div>
            </div>
            <div class="featured-company-info-container">
              <div class="featured-company-info-item">
                <i class="fa fa-industry" aria-hidden="true"></i>
                <h4 class="company-info">Technology</h4>
              </div>
              <div class="featured-company-info-item">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <h4 class="company-info">Vidoe Smilevski Bato 95</h4>
              </div>
              <div class="featured-company-info-item">
                <i class="fa fa-phone-square" aria-hidden="true"></i>
                <h4 class="company-info">+389 77 500 000</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <h1 class="py-5">Latest Reviews</h1>
    <app-review-element
      class="my-3"
      [reviewElement]="review"
      *ngFor="let review of listOfReviews"
    ></app-review-element>
  </section>
  <aside class="account-controls d-none d-lg-block">
    <div class="account-wrapper" *ngIf="!loggedIn">
      <div class="avatar-wrapper">
        <img
          src="/assets/submarine.png"
          alt="User Avatar"
          class="img-fluid mt-5"
        />
      </div>
      <div class="dropdown-divider mx-3"></div>
      <h4 class="text-center my-3">
        You need to create an account first.
      </h4>
      <div class="d-flex justify-content-center">
        <form [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input
              type="text"
              matInput
              placeholder="Email"
              formControlName="email"
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Password</mat-label>
            <input
              type="password"
              matInput
              placeholder="Password"
              formControlName="password"
            />
          </mat-form-field>

          <br />
          <button
            type="submit"
            class="btn btn-dark mx-auto d-block"
            id="signup-btn-home"
          >
            Sign Up
          </button>
        </form>
      </div>
    </div>
  </aside>
</section>
