@import '../../../../assets/scss_extendables/index';

.main-section {
  overflow: hidden;
  @extend .flex-column-center;

  h1 {
    text-align: center;
    font-size: getFontSize(h1);
    @extend .underlineBefore;
    color: var(--font-color);
    padding: 10px;
    @include smallPhoneMixin {
      font-size: 32px;
    }
    @include largePhoneMixin {
      font-size: 48px;
    }

    @include tabletMixin {
      font-size: 54px;
    }

    @include smallDesktopMixin {
      font-size: 60px;
    }

    @include largeDesktopMixin {
      font-size: 66px;
    }
  }
}

.hero-companies {
  width: 80%;
  h1 {
    margin-bottom: 2rem;
  }
  .card {
    box-shadow: 2px 3px 3px 0 var(--shadows);
    .card-header {
      background-color: var(--primary);
      a {
        text-decoration: none;
        font-size: 32px;
        color: var(--font-color);
        @extend .animatedBefore;
      }
    }
    .card-body {
      display: flex;
      @include smallPhoneMixin {
        display: block;
      }
      @include smallDesktopMixin {
        display: block;
      }
      .card-aside {
        .img-fluid {
          img {
            width: 200px;
            @include smallPhoneMixin {
              width: 75px;
              margin: auto;
              display: block;
            }
            @include largePhoneMixin {
              width: 150px;
            }
            @include smallDesktopMixin {
              width: 150px;
              margin: auto;
              display: block;
            }
            @include largeDesktopMixin {
              width: 175px;
            }
          }
        }
      }
      .company-info {
        width: 100%;
        margin-left: 2rem;
        @include smallPhoneMixin {
          margin-left: 10px;
        }
        @include largePhoneMixin {
          margin-left: 10px;
        }

        @include tabletMixin {
          margin-left: 10px;
        }

        @include smallDesktopMixin {
          margin-left: 10px;
        }

        @include largeDesktopMixin {
          margin-left: 10px;
        }
        .icon-toolbar {
          .company-info-item {
            h6,
            i {
              color: var(--font-color);
              font-size: 20px;
              @include smallPhoneMixin {
                font-size: 18px;
              }
            }
            @include smallPhoneMixin {
              margin-bottom: 10px;
            }
            @include largePhoneMixin {
              margin-bottom: 10px;
            }
            @include tabletMixin {
              margin-bottom: 10px;
            }
            @include largeDesktopMixin {
              h6 {
                font-size: 16px;
                margin-right: 5px;
              }
              i {
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
}

.top-reviewed-companies {
  h3 {
    width: fit-content;
    margin: auto;
    @include smallPhoneMixin {
      font-size: 22px;
    }
    @include smallDesktopMixin {
      font-size: 24px;
    }
  }
}

.reviewed-companies-container {
  display: flex;
  justify-content: space-between;
  @include smallPhoneMixin {
    display: block;
  }

  @include largePhoneMixin {
    display: block;
  }

  @include tabletMixin {
    display: block;
  }

  @include smallDesktopMixin {
    display: block;
  }

  .card {
    border: none;
    width: 100%;
    box-shadow: 2px 3px 3px 0 var(--shadows);
    @include smallPhoneMixin {
      margin: 1rem auto;
    }
    @include largePhoneMixin {
      margin: 1rem auto;
    }
    @include tabletMixin {
      margin: 1rem auto;
    }
    @include smallDesktopMixin {
      margin: 1rem auto;
    }
    .card-header {
      background-color: var(--primary);
      a {
        cursor: pointer;
        text-decoration: none;
        font-size: 32px;
        color: var(--font-color);
        @include smallPhoneMixin {
          font-size: 24px;
        }
        @include largeDesktopMixin {
          font-size: 24px;
        }
        @extend .animatedBefore;
      }
    }
    .card-body {
      display: flex;
      @include largeDesktopMixin {
        display: block;
      }
      .card-aside {
        .img-fluid {
          img {
            width: 75px;
            display: block;
            margin: auto;
            @include tabletMixin {
              width: 150px;
            }
          }
        }
      }
    }
    .reviewed-body {
      flex: 1;
      @include largeDesktopMixin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .icon-bundle {
        @include smallPhoneMixin {
          display: flex;
          justify-content: center;
        }
        @include largePhoneMixin {
          display: flex;
          justify-content: center;
        }
        @include smallDesktopMixin {
          display: flex;
          justify-content: center;
        }
        @include tabletMixin {
          display: flex;
          justify-content: center;
        }
        h6 {
          text-align: center;
          margin-top: 1rem;
          color: var(--font-color);
          @include largePhoneMixin {
            margin-right: 10px;
          }
          @include tabletMixin {
            margin-right: 10px;
          }
          @include smallDesktopMixin {
            margin-right: 10px;
          }
          @include largeDesktopMixin {
            font-size: 22px;
          }
        }
      }
    }
  }
}

app-review-element {
  margin: auto;
  width: 70%;
  @include smallPhoneMixin {
    width: 90%;
  }

  @include largePhoneMixin {
    width: 90%;
  }

  @include tabletMixin {
    width: 90%;
  }
}

.dark-bg {
  background: linear-gradient(180deg, var(--secondary), var(--primary));
}

.fa {
  margin-right: 1rem;
  @include smallPhoneMixin {
    font-size: 16px;
  }
  @include largePhoneMixin {
    font-size: 18px;
  }

  @include tabletMixin {
    font-size: 20px;
  }

  @include smallDesktopMixin {
    font-size: 20px;
  }

  @include largeDesktopMixin {
    font-size: 20px;
  }
}

.d-block.mx-auto.mt-5.td-none {
  width: 75%;
  @include smallPhoneMixin {
    width: fit-content;
  }
  @include largePhoneMixin {
    width: 50%;
  }
  @include tabletMixin {
    width: 50%;
  }
  @include smallDesktopMixin {
    width: 50%;
  }
}
