<div class="body parent mt-75">
  <form [formGroup]="inputForm" class="d-flex flex-column container div1">
    <!-- Company Input -->
    <mat-form-field class="mt-4">
      <mat-label>
        {{ 'MY_ACCOUNT.COMPANY' | translate }}
      </mat-label>
      <mat-select formControlName="companyName">
        <mat-option *ngFor="let company of companies" [value]="company.name">
          {{ company.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Company Rating -->
    <mat-form-field class="mt-3">
      <mat-label>
        {{ 'MY_ACCOUNT.RATING' | translate }}
      </mat-label>
      <input matInput type="number" formControlName="rating" />
    </mat-form-field>
    <!-- Review Text -->
    <mat-form-field>
      <mat-label>
        {{ 'MY_ACCOUNT.DESCRIPTION' | translate }}
      </mat-label>
      <textarea
        matInput
        style="resize: none;"
        formControlName="textExcerpt"
        cols="30"
        rows="10"
      >
      </textarea>
    </mat-form-field>
    <button [disabled]="!inputForm.valid" mat-raised-button (click)="create()">
      {{ 'MY_ACCOUNT.SUBMIT_BTN' | translate }}
    </button>
  </form>

  <form
    [formGroup]="accountChangesForm"
    class="d-flex flex-column container div2"
  >
    <!-- Linkedin Account -->
    <mat-form-field class="mt-3">
      <mat-label>
        {{ 'MY_ACCOUNT.LINKEDIN' | translate }}
      </mat-label>
      <input matInput formControlName="linkedInAccount" />
    </mat-form-field>
    <button (click)="requestVerification()" mat-raised-button color="accent">
      {{ 'MY_ACCOUNT.CONNECT_BTN' | translate }}
    </button>
    <hr />

    <!--Change Email-->
    <mat-form-field class="mt-3">
      <mat-label>
        {{ 'MY_ACCOUNT.EMAIL' | translate }}
      </mat-label>
      <input matInput formControlName="changeEmailInput" />
    </mat-form-field>
    <button (click)="changeEmail()" mat-raised-button color="accent">
      {{ 'MY_ACCOUNT.EMAIL_BTN' | translate }}
    </button>
    <hr />

    <!--Change Password-->
    <mat-form-field class="mt-3">
      <mat-label>
        {{ 'MY_ACCOUNT.OLD_PASS' | translate }}
      </mat-label>
      <input matInput formControlName="newPassword" type="password" />
    </mat-form-field>

    <mat-form-field class="mt-3">
      <mat-label>
        {{ 'MY_ACCOUNT.NEW_PASS' | translate }}
      </mat-label>
      <input matInput formControlName="newPasswordConfirm" type="password" />
    </mat-form-field>
    <button (click)="updatePassword()" mat-raised-button color="accent">
      {{ 'MY_ACCOUNT.CHANGE_PASS_BTN' | translate }}
    </button>
    <hr />

    <!-- Notifications control -->
    <!-- company notifications -->
    <mat-form-field>
      <mat-label>
        {{ 'MY_ACCOUNT.COMPANIES' | translate }}
      </mat-label>
      <mat-select formControlName="multipleCompanies" multiple>
        <mat-option *ngFor="let company of companies" [value]="company.name">{{
          company.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox formControlName="myCompanyNotifications">{{
      'MY_ACCOUNT.COMPANY_REVIEWED_NOT' | translate
    }}</mat-checkbox>
    <mat-checkbox formControlName="companyAddedNotification">{{
      'MY_ACCOUNT.COMPANY_ADD_NOT' | translate
    }}</mat-checkbox>
    <hr />
    <!--Forgot Password -->
    <button
      (click)="toggleDialog()"
      class="mt-4 mb-small"
      mat-raised-button
      color="accent"
    >
      {{ 'MY_ACCOUNT.FORGOT_PASS_BTN' | translate }}
    </button>
    <div class="dialog-container" *ngIf="showDialog">
      <div>
        <h5 mat-dialog-title>{{ 'CONFIRM_DIALOG.WARNING' | translate }}</h5>
        <h6>{{ 'CONFIRM_DIALOG.RESET_Q' | translate }}</h6>
        <hr />
        <div mat-dialog-actions>
          <button
            mat-dialog-close
            mat-dialog-close="true"
            class="mr-3"
            mat-raised-button
            color="primary"
            (click)="forgotPasswordDialog()"
          >
            {{ 'CONFIRM_DIALOG.YES' | translate }}
          </button>
          <button
            mat-dialog-close
            (click)="toggleDialog()"
            mat-dialog-close="false"
            mat-raised-button
            color="accent"
          >
            {{ 'CONFIRM_DIALOG.CANCEL' | translate }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
