@import '../../../../assets/scss_extendables/index';

.parent {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-bottom: 5rem;
  @include smallPhoneMixin {
    display: block;
  }
  @include mediumPhoneMixin {
    display: block;
  }
  @include largePhoneMixin {
    display: block;
  }
}

.div1 {
  grid-area: 1 / 2 / 5 / 4;
}
.div2 {
  grid-area: 1 / 5 / 5 / 7;
}
.div3 {
  grid-area: 5 / 3 / 7 / 6;
}
.body.parent {
  @extend .wavey-background;
}

.dialog-container {
  @extend .fixed-full-height;
  background-color: var(--shadows);
  @extend .flex-column-center;
  div {
    background-color: var(--font-color);
    padding: 1rem;
    border-radius: 15px;
  }
}

input,
select,
textarea,
mat-checkbox {
  color: var(--font-color);
}

p {
  color: var(--outlines);
}

textarea:focus,
input:focus {
  color: var(--outlines);
}

.mb-small {
  @include mediumPhoneMixin {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

mat-label,
mat-slider {
  color: var(--font-color) !important;
}
