<section class="review-page mt-75">
  <section class="review-list">
    <h1>{{ 'REVIEWS.ALL_REVIEWS' | translate }}</h1>
    <div class="filter-field">
      <form [formGroup]="reviewFilterGroup" (ngSubmit)="orderReviews()">
        <mat-form-field>
          <mat-label>{{ 'REVIEWS.FILTER' | translate }}</mat-label>
          <mat-select formControlName="sortOption">
            <mat-option *ngFor="let option of options" [value]="option">{{
              option
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <button
          mat-raised-button
          type="submit"
          [disabled]="!reviewFilterGroup.valid"
        >
          {{ 'REVIEWS.GO' | translate }}
        </button>
      </form>
    </div>
    <div class="review-container">
      <app-review-element
        class="review-item"
        [reviewElement]="review"
        *ngFor="let review of listOfReviews"
      ></app-review-element>
    </div>
  </section>
</section>
