@import '../../../../assets/scss_extendables/index';

section.review-page {
  @extend .wavey-background;
  padding-bottom: 10px;
  overflow-x: hidden;
}

.review-list {
  h1 {
    color: whitesmoke;
    font-size: getFontSize(h1);
    padding: 3rem 0;
    font-weight: 200;
    padding-bottom: 1rem;
    margin: 0 2rem;
    @extend .underlineBefore;
    position: relative;
    left: 30%;
    @include mediumPhoneMixin {
      font-size: 46px;
      left: 0;
    }
    @include smallPhoneMixin {
      font-size: 26px;
    }
  }
  h1::before {
    background-color: whitesmoke;
  }
}

form {
  width: 50%;
  margin: 7rem auto;
  button {
    width: 150px;
    margin-left: 2rem;
  }
}

.review-container {
  margin: 5rem 10rem;
  display: grid;
  grid-template-columns: 50% 50%;
  @include mediumPhoneMixin {
    grid-template-columns: 100%;
    margin: 5rem 1rem;
  }
  justify-content: stretch;
  column-gap: 5rem;
  row-gap: 10rem;
}
/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline,
mat-select {
  color: var(--font-color);
}
/* Font color */
input.mat-input-element,
mat-label {
  color: var(--font-color);
}
