@import '../../../../assets/scss_extendables/index';

section.review-page {
  background: linear-gradient(180deg, var(--secondary), var(--primary));
  padding-bottom: 10px;
}

.review-list {
  h1 {
    color: var(--font-color);
    font-size: getFontSize(h1);
    padding: 3rem 0;
    padding-bottom: 1rem;
    margin: 0 2rem;
    @extend .underlineBefore;
    position: relative;
    left: 30%;
    @include mediumPhoneMixin {
      font-size: 46px;
      left: 0;
    }
    @include smallPhoneMixin {
      font-size: 26px;
    }
  }
}

form {
  width: 50%;
  margin: 7rem auto;
  button {
    width: 150px;
    margin-left: 2rem;
  }
}

.review-container {
  margin: 5rem 10rem;
  display: grid;
  grid-template-columns: 50% 50%;
  @include mediumPhoneMixin {
    grid-template-columns: 100%;
    margin: 5rem 1rem;
  }
  justify-content: stretch;
  column-gap: 5rem;
  row-gap: 10rem;
}
