/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
}

html,
body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif !important;
  height: 100%;
  body::-webkit-scrollbar {
    width: 1em;
  }

  body::-webkit-scrollbar-track {
    background-color: #cfd8dc;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  }

  body::-webkit-scrollbar-thumb {
    background-color: #212121;
    outline: 1px solid #212121;
  }
}

.owl-dots {
  display: flex;
  justify-content: center;
  .fa {
    margin-right: 16px;
  }

  .owl-dot,
  .owl-dot::after,
  .owl-dot.active,
  .owl-dot.active::after {
    transition: 0.4s;
  }
  .owl-dot::after {
    content: '';
    transition: 0.4s;
  }

  .owl-dot.active {
    position: relative;
  }
  .owl-dot.active::after {
    content: '';
    transition: 0.4s;
    position: absolute;
    bottom: 10%;
    left: 0;
    background-color: #dc3545;
    width: 26px;
    height: 26px;
    border-radius: 50%;
  }
}

.owl-nav {
  .owl-prev,
  .owl-next {
    position: absolute;
    top: 37%;
  }

  .owl-next {
    right: 0;
  }
}
i.carousel-fa {
  font-size: 32px;
}

i.fa.carousel-fa.fa-chevron-left,
i.fa.carousel-fa.fa-chevron-right {
  font-size: 40px;
}
