/* You can add global styles to this file, and also import other style files */

@import 'app/shared/material-theme.scss';
@import '~bootstrap/scss/bootstrap';

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
}

:root {
  --primary: #000617;
  --secondary: #2d3436;
  --tertiary: #a489785e;
  --accent: #212121;
  --warn: #dc3545;
  --nephritis: #27ae60;
  --shadows: rgba(0, 0, 0, 0.4);
  --shadowsOpacified: rgba(0, 0, 0, 0.8);
  --outlines: #ddddddd2;
  --font-color: whitesmoke;
  --reverse-font-color: black;
  --gradient-one: rgba(52, 88, 128, 1);
  --gradient-one-faded: #516488;
  --gradient-two: rgba(48, 51, 65, 1);
  --opacity1: none;
  --opacity2: 0.4;
  --header: #00657e;
}

html,
body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif !important;
  height: 100%;
  overflow-x: hidden;
  body::-webkit-scrollbar {
    width: 1em;
  }

  body::-webkit-scrollbar-track {
    background-color: #cfd8dc;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  }

  body::-webkit-scrollbar-thumb {
    background-color: #212121;
    outline: 1px solid #212121;
  }
}

.owl-dots {
  display: flex;
  justify-content: center;
  .fa {
    margin-right: 16px;
  }
}

.owl-nav {
  .owl-prev,
  .owl-next {
    position: absolute;
    top: 37%;
  }

  .owl-next {
    right: 0;
  }
}
i.carousel-fa {
  font-size: 32px;
}

i.fa.carousel-fa.fa-chevron-left,
i.fa.carousel-fa.fa-chevron-right {
  font-size: 40px;
}
