<section class="mt-75">
  <div class="review-container" data-aos="fade-up">
    <div class="company-logo-container">
      <img
        src="{{ activeReview?.imagePath }}"
        alt="{{ activeReview?.companyName }}"
        class="img-fluid"
      />
    </div>
    <div class="main-review-container">
      <div class="review-body-container">
        <a
          data-aos="fade-right"
          [routerLink]="['/companies', activeReview?.companyName]"
          *ngIf="activeReview"
          >{{ activeReview?.companyName }}</a
        >
        <div class="info-container" data-aos="fade-up">
          <div class="rating-container">
            <i class="fa fa-star mr-2" *ngFor="let star of starRating"></i>
          </div>
          <p class="font-italic">
            <i class="fa fa-calendar mr-2"></i>{{ transformedTimeStamp }}
          </p>
        </div>
        <p class="text-center">{{ activeReview?.textExcerpt }}</p>
      </div>
      <div class="pros-cons-container">
        <div class="pros-container" data-aos="fade-up">
          <h6 class="title pros-title">{{ 'MY_ACCOUNT.PROS' | translate }}:</h6>
          <p>{{ activeReview?.reviewPros }}</p>
        </div>
        <div class="cons-container" data-aos="fade-up">
          <h6 class="title cons-title">{{ 'MY_ACCOUNT.CONS' | translate }}:</h6>
          <p>{{ activeReview?.reviewCons }}</p>
        </div>
      </div>
    </div>
    <div
      class="votes-report-container d-flex justify-content-around"
      data-aos="fade-up"
    >
      <app-votes-container></app-votes-container>
      <button mat-raised-button color="warn" (click)="openReviewDialog()">
        {{ 'HOMEPAGE.REPORT' | translate }}
      </button>
    </div>
    <div class="report-dialog" *ngIf="reportReview" [@enterAnimation]>
      <div>
        <h6 mat-dialog-title>{{ 'CONFIRM_DIALOG.REPORT_Q' | translate }}</h6>
        <hr />
        <div mat-dialog-actions class="btn-group d-flex justify-content-center">
          <button
            mat-raised-button
            color="warn"
            (click)="sendReport()"
            class="mr-3"
          >
            {{ 'CONFIRM_DIALOG.YES' | translate }}
          </button>
          <button (click)="openReviewDialog()" mat-raised-button>
            {{ 'CONFIRM_DIALOG.CANCEL' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
